[client]
default-character-set = utf8mb4

[mysqld]
default-storage-engine = InnoDB
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'
default-time-zone = 'UTC'

[mysql]
default-character-set = utf8mb4